# Виртуальная среда
venv/
.venv/
env/
ENV/

# Питон
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Статические файлы (загруженные пользователями)
static/uploads/*
!static/uploads/.gitkeep
static/plots/*
!static/plots/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Логи
*.log