language: python
python:
  - "3.8"

before_install:
  - chmod +x ./st.sh

install:
  - pip install -r requirements.txt

script:
  - python some_app.py

deploy:
  provider: heroku
  api_key:
    secure: YOUR_ENCRYPTED_HEROKU_API_KEY
  app: your-heroku-app-name
  on:
    branch: main